## **Basics Python for Scraping**

In [6]:
import pandas as pd

In [ ]:
states = ['Indonesia', 'Malaysia', 'Philippines', 'Thailand', 'Vietnam']
id_states = ['INA', 'MY', 'PH', 'TH', 'VN']

dict_states = {'States': states, 'ID States': id_states}

df_states = pd.DataFrame.from_dict(dict_states)

In [ ]:
df_states

        States ID States
0    Indonesia       INA
1     Malaysia        MY
2  Philippines        PH
3     Thailand        TH
4      Vietnam        VN

In [ ]:
# you can etiher export to csv or excel
# df_states.to_csv('states.csv', index=False)

### **Handling Exception Errors Using try-except**

In [ ]:
a_list = [2,4,6, 'string element']

for element in a_list:
    try:
        print(element/2)
    except:
        print('the element is not a number!')

1.0
2.0
3.0
the element is not a number!

In [ ]:
a_list = [2,4,6, 'string element']

for element in a_list:
    try:
        print(element/2)
    except:
        print('the element is not a number!')

1.0
2.0
3.0
the element is not a number!

Ketika kita melakukan scraping terkadang kita menemukan error pada elemen yang ingin kita ambil karena ketidak sesuaian data, sebagai contoh pada kasus try-except digunakan agar code yang kita bisa berjalan hingga akhir walaupun elemen yang ingin kita ambil tidak memenuhi kriteria.

Jika try-excepet tidak digunakan code akan mengeluarkan error messages sehingga data yang berhasil diambil tidak dapat tersimpan karena salah satu elemen tidak sesuai kriteria, maka dari itu try-except digunakan.

### **Pagination Using while-break**

In [ ]:
num_pages = 5 # number of pages

while num_pages > 0 : # expception
    print(num_pages)
    num_pages -= 1

    if num_pages == 2:
        break
print('End of the pages loop')

5
4
3
End of the pages loop

**Pagination** merupakan cara untuk kita mengambil data dari setiap halaman website yang ada. Umumnya digunakan pada librarry Beautiful soup dan Selenium.